<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".activity.OvoWaitingActivity"
            android:exported="false" />
        <activity
            android:name=".BankValidationActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheckOutWebActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreditCardVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CreditCardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QRDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentMethodActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>